<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统-个人信息</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="static/bootstrap/js/jquery-2.1.4.min.js"></script>
<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<script src="static/bootstrap/js/bootstrap.js"></script>
<style>
    /*图书管理系统 主题字*/
    #book_title{
        position: absolute;
        top: 100px;
        left: 45%;
        color: #ffffff;
    }

    /*左侧列表*/
    #title_list{
        position: absolute;
        width: 300px;
        text-align: center;
    }

    /*页面主题内容*/
    #title_list_body{
        position: absolute;
        left: 25%;
        top: 200px;
        width:1200px;
    }

    #information_main{
        position: relative;
        width: 80%;
    }

    #down_line{
        position: relative;
        width: 80%;
    }


</style>
<body>
<img src="/static/images/long.jpg" style="width: 100%; height: auto">

<div>
    <h1 class="text-center" id="book_title"><a href="/mainuser.html" style="text-decoration: none;color: #ffffff;">图书管理系统</a></h1>
</div>
<!--导航栏-->
<div id="title_list">
    <ul class="nav nav-pills nav-stacked">
        <li id="page1" role="presentation"><a href="/userinfopage.html">个人信息</a></li>
        <li id="page2" role="presentation"><a href="/userpassword.html">修改密码</a></li>
        <li id="page3" role="presentation"><a href="/userwaiting.html">我的书籍</a></li>
        <li id="page4" role="presentation" class="active"><a href="#information">消息通知</a></li>
    </ul>
</div>
<div id="title_list_body" class="tab-content">
    <div class="tab-pane fade in active" id="information">
        <div id="information_main">

        </div>
        <div id="down_line">
            <hr>
            <p class="help-block" style="position: relative;left: 45%;">-最多显示最近十条记录-</p>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(function () {
        $.ajax({
            url:"/userinfocontroller/getLeaveBookList",
            success:function (result) {
                var messageList=result.extend.list;
                if (messageList.length==0){
                    $("<p></p>").css({"font-size":"25px","text-align":"center"}).append("暂无消息").appendTo("#information_main");
                }
                for (i=0;i<messageList.length;i++){
                    var title=$("<span></span>").append("系统通知："+messageList[i].messageTitle);
                    var date=$("<span></span>").addClass("col-md-offset-6").append(messageList[i].messageDate);
                    var body=$("<p></p>").append(messageList[i].messageBody);
                    if (messageList[i].messageTitle=="逾期通知"){
                        $("<div></div>").css({"border-style":"groove","border-color":"red","width":"auto","height":"60px","font-size":"20px","margin-bottom":"10px"})
                            .append(title).append(date).append(body).appendTo("#information_main");
                    }else if(messageList[i].messageTitle=="借书通知"){
                        $("<div></div>").css({"border-style":"groove","border-color":"lightblue","width":"auto","height":"60px","font-size":"20px","margin-bottom":"10px"})
                            .append(title).append(date).append(body).appendTo("#information_main");
                    }else{
                        $("<div></div>").css({"border-style":"groove","border-color":"lightgreen","width":"auto","height":"60px","font-size":"20px","margin-bottom":"10px"})
                            .append(title).append(date).append(body).appendTo("#information_main");
                    }
                }
            }
        });
    });
</script>
</body>
</html>