server:
  port: 8080



spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/studentlibrary?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT
    username: root
    password:

  thymeleaf:
    cache: false
    servlet:
      content-type: text/html

  mvc:
    static-path-pattern: /static/**

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

  redis:
    database: 0
    host: localhost
    port: 6379