<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="static/bootstrap/js/jquery-2.1.4.min.js"></script>
<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<script src="static/bootstrap/js/bootstrap.js"></script>

<style>
    /*图书管理系统 主题字*/
    #book_title{
        position: absolute;
        top: 100px;
        left: 45%;
        color: #ffffff;
    }

</style>


<body>

<img src="/static/images/long.jpg" style="width: 100%; height: auto">

<div>
    <h1 class="text-center" id="book_title"><a href="/mainuser.html" style="text-decoration: none;color: #ffffff;">图书管理系统</a></h1>
</div>

</body>
</html>