<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统-个人信息</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="static/bootstrap/js/jquery-2.1.4.min.js"></script>
<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<script src="static/bootstrap/js/bootstrap.js"></script>
<style>
    /*图书管理系统 主题字*/
    #book_title{
        position: absolute;
        top: 100px;
        left: 45%;
        color: #ffffff;
    }

    /*左侧列表*/
    #title_list{
        position: absolute;
        width: 300px;
        text-align: center;
    }

    /*页面主题内容*/
    #title_list_body{
        position: absolute;
        left: 25%;
        top: 200px;
        width:1200px;
    }

    #select_div{
        position: relative;
        left: 15px;
    }

    #btn{
        position: relative;
        left: 35%;
    }


</style>
<body>
<img src="/static/images/long.jpg" style="width: 100%; height: auto">

<div>
    <h1 class="text-center" id="book_title"><a href="/mainroot.html" style="text-decoration: none;color: #ffffff;">图书管理系统</a></h1>
</div>
<!--导航栏-->
<div id="title_list">
    <ul class="nav nav-pills nav-stacked">
        <li id="page1" role="presentation" class="active"><a href="#information">用户管理</a></li>
        <li id="page2" role="presentation"><a href="/userreturnbook.html">书籍归还</a></li>
        <li id="page3" role="presentation"><a href="/userbookrecord.html">消息队列</a></li>
        <li id="page4" role="presentation"><a href="/userleavetime.html">逾期查询</a></li>
        <li id="page5" role="presentation"><a href="/advicemessage.html">公告管理</a></li>
    </ul>
</div>
<div id="title_list_body" class="tab-content">
    <div class="tab-pane fade in active" id="information">
        <div id="select_div">
            <input type="text" name="userId" id="user_id">
            <button onclick="selectUser()">ID查询</button>
        </div>
        <div class="col-md-10">
            <table class="table table-hover" border="1" style="text-align: center">
                <thead>
                    <tr>
                        <td width="80px">用户ID</td>
                        <td width="100px">用户名</td>
                        <td width="80px">用户真实姓名</td>
                        <td width="100px">操作</td>
                    </tr>
                </thead>
                <tbody id="list_body">

                </tbody>
            </table>
        </div>
        <div class="col-md-4" id="btn">
            <button onclick="backPage()">上一页</button>&nbsp;<span id="this_page"></span>&nbsp;/&nbsp;<span id="last_page"></span>&nbsp;<button onclick="nextPage()">下一页</button>
        </div>
    </div>
</div>
<script type="application/javascript">
    var thisPage=1;
    var lastPage;
    $(function () {
        $.ajax({
            url:"/rootajaxcontroller/getAllUser",
            success:function (result) {
                thisPage=1;
                lastPage=result.extend.lastPage;
                $("#last_page").empty();
                $("#last_page").append(lastPage);
                $("#this_page").empty();
                $("#this_page").append(thisPage);
                var users=result.extend.userList;
                for (i=0;i<users.length;i++){
                    var userId=$("<td></td>").append(users[i].userId);
                    var userName=$("<td></td>").append(users[i].userName);
                    var userRealname=$("<td></td>").append(users[i].userRealname);
                    var update_btn=$("<a></a>").addClass("btn btn-info btn-sm active").attr("href","/rootcontroller/checkUser?userId="+users[i].userId).attr("role","button").append("详细信息");
                    var delete_btn=$("<button></button>").addClass("btn btn-danger btn-sm").attr("onclick","deleteUser("+users[i].userId+")").append("删除用户");
                    var lock_btn=$("<button></button>").addClass("btn btn-warning btn-sm").attr("onclick","lockUser("+users[i].userId+")").append("冻结用户");
                    var btns=$("<td></td>").append(update_btn).append(" ").append(delete_btn).append(" ").append(lock_btn);
                    $("<tr></tr>").append(userId).append(userName).append(userRealname).append(btns)
                        .appendTo("#list_body");
                }
            }
        });
    });

    function selectUser() {
        var userId=$("#user_id").val();
        if (!userId){
            alert("请输入查询条件！");
            return false;
        } else if (isNaN(userId)){
            alert("输入格式非法！");
            return false;
        }  else{
            $.ajax({
                url:"/rootajaxcontroller/getUserInfo"+userId,
                success:function (result) {
                    var userinfo=result.extend.user;
                    if (userinfo) {
                        $("#list_body").empty();
                        $("#btn").empty();
                        var userName=$("<td></td>").append(userinfo.userName);
                        var userRealname=$("<td></td>").append(userinfo.userRealname);
                        var update_btn=$("<a></a>").addClass("btn btn-info btn-sm active").attr("href","/rootcontroller/checkUser?userId="+userinfo.userId).attr("role","button").append("详细信息");
                        var delete_btn=$("<button></button>").addClass("btn btn-danger btn-sm").attr("onclick","deleteUser("+userinfo.userId+")").append("删除用户");
                        var lock_btn=$("<button></button>").addClass("btn btn-warning btn-sm").attr("onclick","lockUser("+userinfo.userId+")").append("冻结用户");
                        var btns=$("<td></td>").append(update_btn).append(" ").append(delete_btn).append(" ").append(lock_btn);
                        $("<tr></tr>").append(userId).append(userName).append(userRealname).append(btns)
                            .appendTo("#list_body");
                    }else{
                        alert("未找到符合条件的数据!");
                        return false;
                    }


                }
            });
        }
    }

    function deleteUser(userId){
        var choice=confirm("确定要删除此用户吗？有关的一切信息也将一并删除！");
        if (!choice){
            return false;
        } else{
            /*删除用户 代码*/
            $.ajax({
                url:"/rootajaxcontroller/deleteUser",
                data:{"userId":userId},
                success:function (result) {
                    var result=result.extend.message;
                    if (result=="success"){
                        alert("删除成功！");
                        location.reload();
                    }
                }
            });
        }
    }

    function lockUser(userId) {
        var choice=confirm("确定要限制此用户吗？该用户将无法正常与系统交互！");
        if (!choice){
            return false;
        } else{
            /*删除用户 代码*/
        }
    }

    /*上一页*/
    function backPage() {
        if (thisPage<=1){
            thisPage=1;
        } else{
            thisPage=thisPage-1;
            $.ajax({
                url:"/rootajaxcontroller/getAllUser",
                data:{"pageNum":thisPage},
                type:"POST",
                success:function (result) {
                    $("#list_body").empty();
                    $("#this_page").empty();
                    $("#this_page").append(thisPage);
                    var users=result.extend.userList;
                    for (i=0;i<users.length;i++){
                        var userId=$("<td></td>").append(users[i].userId);
                        var userName=$("<td></td>").append(users[i].userName);
                        var userRealname=$("<td></td>").append(users[i].userRealname);
                        var update_btn=$("<a></a>").addClass("btn btn-info btn-sm active").attr("href","/rootcontroller/checkUser?userId="+users[i].userId).attr("role","button").append("详细信息");
                        var delete_btn=$("<button></button>").addClass("btn btn-danger btn-sm").attr("onclick","deleteUser("+users[i].userId+")").append("删除用户");
                        var lock_btn=$("<button></button>").addClass("btn btn-warning btn-sm").attr("onclick","lockUser("+users[i].userId+")").append("冻结用户");
                        var btns=$("<td></td>").append(update_btn).append(" ").append(delete_btn).append(" ").append(lock_btn);
                        $("<tr></tr>").append(userId).append(userName).append(userRealname).append(btns)
                            .appendTo("#list_body");
                    }
                }
            });
        }
    }

    /*下一页*/
    function nextPage() {
        if (thisPage>=lastPage){
            thisPage=lastPage;
        } else{
            thisPage=thisPage+1;
            $.ajax({
                url:"/rootajaxcontroller/getAllUser",
                data:{"pageNum":thisPage},
                type:"POST",
                success:function (result) {
                    $("#list_body").empty();
                    $("#this_page").empty();
                    $("#this_page").append(thisPage);
                    var users=result.extend.userList;
                    for (i=0;i<users.length;i++){
                        var userId=$("<td></td>").append(users[i].userId);
                        var userName=$("<td></td>").append(users[i].userName);
                        var userRealname=$("<td></td>").append(users[i].userRealname);
                        var update_btn=$("<a></a>").addClass("btn btn-info btn-sm active").attr("href","/rootcontroller/checkUser?userId="+users[i].userId).attr("role","button").append("详细信息");
                        var delete_btn=$("<button></button>").addClass("btn btn-danger btn-sm").attr("onclick","deleteUser("+users[i].userId+")").append("删除用户");
                        var lock_btn=$("<button></button>").addClass("btn btn-warning btn-sm").attr("onclick","lockUser("+users[i].userId+")").append("冻结用户");
                        var btns=$("<td></td>").append(update_btn).append(" ").append(delete_btn).append(" ").append(lock_btn);
                        $("<tr></tr>").append(userId).append(userName).append(userRealname).append(btns)
                            .appendTo("#list_body");
                    }
                }
            });
        }
    }
</script>
</body>
</html>